body {margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif; line-height: 1;}
table {border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html {height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
td, form {margin: 0px; padding: 0px;}
a {color: #000100; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition:  all 0.3s linear;}
* {-webkit-box-sizing: border-box; box-sizing: border-box;}